/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body{
    font-family: "Inter", sans-serif;
}

h1 {
    margin: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav #lien-inscription{
    margin: 0 20px;
}

nav #lien-inscription li{
    margin: 0 10px;
}

nav #lien-pages li{
    margin: 0 30px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav #lien-pages li a{
    position: relative;
}
  
nav #lien-pages li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: black;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}
  
nav #lien-pages a:hover::after {
    transform: scaleX(1);
}

nav ul li.current a {
    color:darkgreen;
}

nav #lien-pages li.current a::after{
    background-color: darkgreen;
}

.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 100;
}

.navbar.hidden {
    top: -70px; /* Adjust based on the height of your navbar */
}

/* Styles pour les appareils mobiles */
.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}

.burger-menu {
    display: block; /* Afficher le bouton burger sur les appareils mobiles */
    font-size: 24px; /* Taille de l'icône du burger */
    background: none;
    border: none;
    cursor: pointer;
}

#menu-items {
    display: none; /* Masquer les éléments du menu sur les appareils mobiles */
}

/* Styles pour les liens du menu burger */
#lien-pages, #lien-inscription {
    text-align: center;
    margin-top: 10px; /* Espacement entre les liens */
}

#lien-pages li, #lien-inscription li {
    margin: 10px 0; /* Espacement entre les éléments de liste */
}


#hero-image{
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position-x: right;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    color: white;
}

#hero-image h1{
    font-size: 50px;
    margin: 20px 0;
}

#hero-image p{
    margin: 10px 0;
    width: 55%;
    font-size: 20px;
}

#hero-image a{
    margin: 20px 0;
    text-decoration: none;
    padding: 10px 20px;
    width: 100px;
    text-align: center;
    border-radius: 25px;
    background-color: darkgreen;
    color: white;
    font-size: 20px;
}

#a-propos-container{
    margin: 20px;
    background-color:rgb(229, 236, 229);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

h2{
    font-size: 30px;
}

hr{
    width: 100px;
    margin-left:0;
    height: 3px;
    background-color: darkgreen;
    border-radius: 5px;
    border: 0;
}

/* Styles pour les appareils mobiles */
#valeur-container {
    margin: 50px; /* Réduire la marge pour les appareils mobiles */
}

#valeur {
    display: flex;
    flex-direction: column; /* Afficher les fiches de valeur en colonne pour les appareils mobiles */
    align-items: center; /* Centrer les éléments horizontalement */
}

.valeur-fiche {
    margin: 20px 0; /* Espacement entre les fiches de valeur */
    text-align: center; /* Centrer le contenu */
}

.valeur-fiche img {
    width: 100%; /* Adapter la largeur de l'image à la largeur de son conteneur */
    max-width: 200px; /* Limiter la largeur de l'image pour éviter le débordement sur les petits écrans */
}

#a-propos-container p{
    text-align: center;
    margin-top: 30px;
}


/* Styles pour les appareils mobiles */
#galerie-container {
    margin: 20px; /* Réduire la marge pour les appareils mobiles */
}

#galerie {
    display: grid;
    grid-template-columns: 1fr; /* Afficher une seule colonne sur les appareils mobiles */
    gap: 20px;
}

.galerie-item {
    position: relative;
    overflow: hidden;
}

.galerie-item img {
    width: 100%;
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    object-fit: cover;
    display: block;
    border-radius: 20px;
}


.carousel-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

hr{
    margin-bottom: 50px;
}

.carousel-wrapper {
    overflow: hidden;
    width: 80%;
}

.carousel {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-content {
    width: 100%;
    display: contents;
    box-sizing: border-box;
}

.carousel-item {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 20px;
    border-right: white 20px solid;
    border-left: white 20px solid;
    background-color: rgb(229, 236, 229);
}

.carousel-item p {
    text-align: right;
}

.carousel-item div {
    display: flex;
    align-items: center;
}

.carousel-item img{
    width: 10%;
    margin-right: 20px;
}

.carousel-item h4 {
    font-weight: bold;
}

.carousel-item p {
    margin: 20px 0;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}


.valeur-fiche{
    text-align: center;
}

.valeur-fiche h3{
    font-size: 20px;
    padding: 10px;
}

.valeur-fiche p{
    margin: 20px;
}









footer{
    margin-top: 100px;
}

footer svg{
    margin: 10px;
}

#footer-colonne {
    display:block;
    background-color: black;
    color: white;
}

#footer-colonne > * {
    padding: 50px;
    align-items: center;
}

#footer-colonne li{
    margin: 10px;
}

#footer-reseaux-sociaux{
    display: block;
    padding: 30px;
    background-color: darkgreen;
    color: white;
}

#footer-reseaux-sociaux ul li{
    display: inline-block;
}

#footer-mentions-legales{
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(23, 23, 23);
    color: white;
}

footer a{
    color: white;
}

/* tablet breakpoint */
@media (min-width:768px) {
    #footer-colonne {
        display: flex;
        justify-content: space-between;
    }
}


@media only screen and (min-width: 769px) {
    .burger-menu {
        display: none; /* Masquer le bouton burger sur les écrans plus larges */
    }

    #menu-items {
        display: flex; /* Afficher les éléments du menu */
        align-items: center;
    }

    #lien-pages, #lien-inscription {
        display: flex; /* Afficher les listes de liens côte à côte */
        margin: 0; /* Réinitialiser la marge */
    }

    #lien-pages li, #lien-inscription li {
        margin: 0 10px; /* Espacement entre les éléments de liste */
    }

    #valeur {
        flex-direction: row; /* Afficher les fiches de valeur en ligne pour les écrans plus larges */
        justify-content: space-evenly; /* Espacement égal entre les fiches de valeur */
    }

    .valeur-fiche {
        margin: 0; /* Réinitialiser la marge */
        width: 30%; /* Répartir les fiches de valeur sur la largeur de l'écran */
        max-width: none; /* Supprimer la limite de largeur de l'image */
    }

}

/* Styles pour les écrans plus larges */
@media only screen and (min-width: 768px) {
    #galerie {
        grid-template-columns: 1fr 1fr; /* Afficher deux colonnes sur les écrans plus larges */
    }
    
#galerie-container{
    margin: 50px;
}


#galerie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 10px;
}

.galerie-item {
    position: relative;
    overflow: hidden;
}

.galerie-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.large {
    grid-column: span 2;
}

.small {
    grid-column: span 1;
}


#footer-reseaux-sociaux{
display: flex;
justify-content: space-between;
align-items: center;
}

#a-propos-container{
    margin: 50px;
    padding: 50px;
}

}
