/*----------------------------------------RESET------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Réinitialisation du rôle d'affichage HTML5 pour les anciens navigateurs */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------GÉNÉRAL------------------------------------------*/

/* Style général pour le corps */
body {
    font-family: "Inter", sans-serif;
}

/*----------------------------------------TITRES------------------------------------------*/

h1 {
    text-align: center;
    font-size: 36px;
    color: darkgreen;
    margin-top: 70px;
}

h2 {
    font-size: 30px;
}

hr {
    width: 100px;
    margin-left: 0;
    height: 3px;
    background-color: darkgreen;
    border-radius: 5px;
    border: 0;
    margin-bottom: 50px;
}

/*----------------------------------------BARRE DE NAVIGATION------------------------------------------*/


/**** HEADER ****/

header {
    margin: 0 auto;
    display: flex;
    height: 100px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    z-index: 10;
    width: 100%;
}

#items-header {
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
}

header #logo {
    color: #000;
    text-decoration: none;
    font-size: 10px;
}

#logo img {
    width: 50px;
    filter: grayscale(100%);
    transition: ease-in-out 0.3s;
}

#logo img:hover {
    filter: none;
    transition: ease-in-out 0.3s;
}

header nav {
    left: 0;
    display: flex;
    width: 100%;
    justify-content: end;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

#links-header-mobile {
    display: none;
}

#mobile-menu-btn {
    display: none;
    cursor: pointer;
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#mobile-menu {
    display: none;
}

nav ul li.current a {
    color: darkgreen;
}

nav #lien-pages li.current a::after {
    background-color: darkgreen;
}

#main-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 1001;
}

#main-header.hidden {
    top: -200px;
}

#main-header li a {
    position: relative;
}

#main-header li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: black;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

#main-header a:hover::after {
    transform: scaleX(1);
}



#items-header img{
    height: 50px;
}

/*----------------------------------------MENU BURGER------------------------------------------*/

#menu-items {
    display: none;
}

#lien-pages, #lien-inscription {
    text-align: center;
    margin-top: 10px;
}

#lien-pages li, #lien-inscription li {
    margin: 10px 0;
}

/*----------------------------------------SECTION HÉRO------------------------------------------*/

#hero-image {
    background-image: url("/src/assets/img/hero.jpg");
    background-size: cover;
    background-position-x: right;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    color: white;
}

#hero-image h1 {
    color: white;
    text-align: left;
    font-size: 50px;
    margin: 20px 0;
}

#hero-image p {
    margin: 10px 0;
    width: 55%;
    font-size: 20px;
}

#hero-image a {
    margin: 20px 0;
    text-decoration: none;
    padding: 10px 20px;
    width: 100px;
    text-align: center;
    border-radius: 25px;
    background-color: darkgreen;
    color: white;
    font-size: 20px;
}

/*----------------------------------------SECTION À PROPOS------------------------------------------*/

#a-propos-container {
    margin: 20px;
    background-color: rgb(229, 236, 229);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

#a-propos-container p {
    text-align: center;
    margin-top: 30px;
}

/*----------------------------------------SECTION VALEURS------------------------------------------*/

#valeur-container {
    margin: 50px;
}

#valeur {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valeur-fiche {
    margin: 20px 0;
    text-align: center;
}

.valeur-fiche img {
    width: 100%;
    max-width: 200px;
}

.valeur-fiche h3 {
    font-size: 20px;
    padding: 10px;
}

.valeur-fiche p {
    margin: 20px;
}

/*----------------------------------------SECTION GALERIE------------------------------------------*/

#galerie-container {
    margin: 20px;
}

#galerie {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.galerie-item {
    position: relative;
    overflow: hidden;
}

.galerie-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.large {
    grid-column: span 2;
}

.small {
    grid-column: span 1;
}

/*----------------------------------------SECTION AVIS------------------------------------------*/

.carousel-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 1s ease-in-out;
    margin-bottom: 50px;
}

.carousel-content {
    display: flex;
}

.carousel-item {
    flex: 0 0 calc(50% - 100px);
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(229, 236, 229);
    box-shadow: 0 0 10px gray;
}

.left-item {
    margin: 0 25px 0 75px;
}

.right-item {
    margin: 0 75px 0 25px;
}

.carousel-item p {
    text-align: right;
}

.carousel-item div {
    display: flex;
    align-items: center;
}

.carousel-item img {
    width: 10%;
    margin-right: 20px;
}

.carousel-item h4 {
    font-weight: bold;
}

.carousel-item p {
    margin: 20px 0;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

/*----------------------------------------CARTE------------------------------------------*/


#map-container {
    display: flex;
    padding: 50px;
    align-items: start;
    justify-content: center;
}

#map {
    width: 60%;
    height: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#locations {
    width: 30%;
    height: 500px;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

#location-list {
    list-style: none;
    padding: 0;
}

#location-list li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

#location-list li:hover {
    background-color: #f6f6f6;
}


/*----------------------------------------PIED DE PAGE------------------------------------------*/

footer{
    margin-top: 50px;
}

footer svg {
    margin: 10px;
}

#footer-colonne {
    display: block;
    background-color: black;
    color: white;
}

#footer-colonne > * {
    padding: 50px;
    align-items: center;
}

#footer-colonne li {
    margin: 10px;
}

#footer-reseaux-sociaux {
    display: block;
    padding: 30px;
    background-color: darkgreen;
    color: white;
}

#footer-reseaux-sociaux ul li {
    display: inline-block;
}

#footer-mentions-legales {
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(23, 23, 23);
    color: white;
}

footer a {
    color: white;
}

/*----------------------------------------MEDIA QUERIES------------------------------------------*/

/* Point de rupture pour les tablettes */
@media (min-width: 768px) {

    /*#footer-colonne {
        display: flex;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    #menu-items {
        display: flex !important ;
        align-items: center;
    }

    #lien-pages, #lien-inscription {
        display: flex;
        margin: 0;
    }

    #lien-pages li, #lien-inscription li {
        margin: 0 10px;
    }*/

    #valeur {
        flex-direction: row; /* Afficher les fiches de valeur en ligne pour les écrans plus larges */
        justify-content: space-evenly; /* Espacement égal entre les fiches de valeur */
    }

    .valeur-fiche {
        margin: 0; /* Réinitialiser la marge */
        width: 30%; /* Répartir les fiches de valeur sur la largeur de l'écran */
        max-width: none; /* Supprimer la limite de largeur de l'image */
    }

    #galerie {
        grid-template-columns: 1fr 1fr; /* Afficher deux colonnes sur les écrans plus larges */
    }
    
    #galerie-container{
        margin: 50px;
    }


    #galerie {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        padding: 10px;
    }

    .galerie-item {
        position: relative;
        overflow: hidden;
    }

    .galerie-item img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
        border-radius: 20px;
    }

    .large {
        grid-column: span 2;
    }

    .small {
        grid-column: span 1;
    }


    #footer-reseaux-sociaux{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    #a-propos-container{
        margin: 50px;
        padding: 50px;
    }

}


/*----------------------------------------SECTION CONTACT------------------------------------------*/

#contact {
    padding: 50px 20px;
}

#contact .section-header {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: darkgreen;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 10px;
    height: 400px;
    width: 80%;
    margin: auto;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group{
    display: flex;
    justify-content: space-between;
}

.form-group input{
    width: 45%;
}

#contact-form input, #contact-form textarea {
    margin-bottom: 10px;
}

#contact-form textarea {
    resize: none;
}

#contact-form button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
    background-color: green;
}

#contact-form .alt-send-button {
    display: flex;
    align-items: center;
}

.direct-contact-container {
    margin-top: 40px;
    text-align: center;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.contact-list .list-item {
    margin-bottom: 20px;
}

.contact-list .contact-text {
    font-size: 18px;
}

.contact-list .contact-text a {
    color: darkgreen;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-list .contact-text a:hover {
    color: green;
}

@media (min-width: 768px) {
    .contact-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    #contact-form, .direct-contact-container {
        flex: 1;
    }

    .direct-contact-container {
        margin-left: 40px;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    #links-header {
        display: none;
    }

    #links-header-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #links-header-mobile a {
        color: gray;
    }
    #links-header {
        display: none;
    }

    #links-header-mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #mobile-menu-btn {
        display: block;
    }

    #mobile-menu {
        position: absolute;
        top: 70px;
        height: auto;
        background-color: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 90;
    }

    #mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    #mobile-menu li {
        margin-bottom: 10px;
    }

    #mobile-menu a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
    }
}
