/*----------------------------------------RESET------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Réinitialisation du rôle d'affichage HTML5 pour les anciens navigateurs */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------GÉNÉRAL------------------------------------------*/

body {
    font-family: "Inter", sans-serif;
    background-color: #f5efe6;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #5E7B51;
    margin-bottom: 50px;
}

h2 {
    font-size: 30px;
    font-weight: 500;

}

hr {
    width: 100px;
    margin-left: 0;
    height: 3px;
    background-color: #5E7B51;
    border-radius: 5px;
    border: 0;
    margin-bottom: 20px;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    padding: 20px;
    max-width: 1200px;
}

a {
    color: #5E7B51;
}

svg {
    width: 30px;
}

.alert {
    padding: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    width: 100%;
    flex-direction: row-reverse;

}

.alertCheckbox {
    display: none;
}

:checked + .alert {
    display: none;
}

.alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;

}

.alertClose {
    float: right;
    font-size: 10px;
}

.clear {
    clear: both;
}
.warning {
    background-color: #FDF7DF;
    border: 1px solid #FEEC6F;
    color: #C9971C;
}

.error {
    background-color: #FDECEA;
    border: 1px solid #FBC2C4;
    color: #D64550;
}

.success {
    background-color: #E9F7EF;
    border: 1px solid #A3E9A4;
    color: #2E854B;
}

/*----------------------------------------BARRE DE NAVIGATION------------------------------------------*/

header {
    margin: 0 auto;
    display: flex;
    height: 100px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    z-index: 10;
    width: 100%;
    box-shadow: 0 0 10px lightgray;
}

#items-header {
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
}

header nav {
    left: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0 30px;
    align-items: start;
}

header nav ul li {
    margin: 10px 20px;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

#links-header-mobile {
    display: none;
}

#mobile-menu-btn {
    display: none;
    cursor: pointer;
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#mobile-menu {
    display: none;
}

nav ul li.current a {
    color: #5E7B51;
}

nav ul li.current a::after {
    background-color: #5E7B51;
}

#main-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 1001;
}

#main-header.hidden {
    top: -200px;
}

#main-header li a {
    position: relative;
}

#main-header li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: #5E7B51;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

#main-header a:hover::after {
    transform: scaleX(1);
}

#items-header img{
    height: 50px;
}

#link-inscription{
    background-color: #5E7B51;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

#link-inscription a{
    color: white;
}

/*----------------------------------------MENU BURGER------------------------------------------*/

#menu-items {
    display: none;
}

#lien-pages, #lien-inscription {
    text-align: center;
    margin-top: 10px;
}

#lien-pages li, #lien-inscription li {
    margin: 10px 0;
}

/*----------------------------------------MENU PROFILE------------------------------------------*/

.container-compte-user {
    max-width: 1250px;
    margin: 100px auto;
    min-height: 60vh;
}

.block-profile {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    right: 15px;
}

.block-profile ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.block-profile ul li {
    padding: 10px;
    width: 100%;
    margin-left: 0px;
}

.img-profile {
    cursor: pointer;
}

.img-profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.block-profile span {
    text-align: left;
    padding: 10px;
    font-weight: normal;
}

.block-profile a {
    text-decoration: none;
    color: #000;
}

.title-block-profile {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#btn-logout {
    background-color: #5E7B51;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

/*----------------------------------------SECTION HÉRO------------------------------------------*/

#hero-image {
    background-image: url("/src/assets/img/hero.jpg");
    background-size: cover;
    background-position-x: right;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    color: white;
}

#hero-image h1 {
    color: white;
    text-align: left;
    font-size: 50px;
    margin: 20px 0;
}

#hero-image p {
    margin: 10px 0;
    font-size: 20px;
}

#hero-image a {
    margin: 20px 0;
    text-decoration: none;
    padding: 10px 20px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    background-color: #5E7B51;
    color: white;
    font-size: 20px;
}

/*----------------------------------------SECTION ACTUALITES------------------------------------------*/

.container-actualites {
    margin: 50px 20px;
}

.title-blog-post {
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjusted min-width for better responsiveness */
    gap: 20px;
    margin: 0; /* Ensure no extra margin on the grid */
}

.card {
    overflow: hidden;
    transform: scale(1.0);
    transition: transform 0.5s;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgrey;
}

.card:hover {
    transform: scale(1.01);
    transition: transform 0.5s;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding-top: 20px;
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

.list-item-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: gray;
    font-weight: lighter;
}

.link-blog {
    color: #5E7B51;
    text-decoration: none;
}

/* Additional Responsive Adjustments */
@media (max-width: 768px) {

    .card {
        margin: 10px 0; /* Adjust margin for small screens */
    }

    .card-title {
        font-size: 1.2em;
    }
}


/*----------------------------------------SECTION À PROPOS------------------------------------------*/

#a-propos-container {
    margin: 50px 20px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: #5E7B51;
    color: white;
}

#a-propos-container p {
    text-align: center;
    margin-top: 30px;
}

#a-propos-container h2{
    margin-top: 0;
}

/*----------------------------------------SECTION VALEURS------------------------------------------*/

#valeur-container {
    margin: 50px 20px;
}

#valeur {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valeur-fiche {
    margin: 20px 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px #d3ccbe;
}

.valeur-fiche img {
    width: 100%;
    max-width: 200px;
}

.valeur-fiche h3 {
    font-size: 20px;
    padding: 30px 0;
    font-weight: bold;
}

/*----------------------------------------SECTION GALERIE------------------------------------------*/

#galerie-container {
    margin: 50px 20px;
}

#galerie {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 0;
}

.galerie-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.galerie-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.large {
    grid-column: span 2;
}

.small {
    grid-column: span 1;
}

/*----------------------------------------SECTION AVIS------------------------------------------*/

.carousel-container {
    position: relative;
    margin: 50px 20px;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 1s ease-in-out;
    margin-bottom: 50px;
}

.carousel-content {
    display: flex;
}

.carousel-item {
    flex: 0 0 calc(50% - 100px);
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 10px #d3ccbe;
    border-radius: 10px;
    background-color: #fff;
}

.left-item {
    margin: 0 25px 0 75px;
}

.right-item {
    margin: 0 75px 0 25px;
}

.carousel-item p {
    text-align: right;
}

.carousel-item div {
    display: flex;
    align-items: center;
}

.carousel-item img {
    width: 10%;
    margin-right: 20px;
    border-radius: 50%;
}

.carousel-item h4 {
    font-weight: bold;
    font-size: 18px;
}

.carousel-time {
    color: gray;
    font-weight: lighter;
}

.carousel-item p {
    margin: 20px 0;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

/*----------------------------------------CARTE------------------------------------------*/


#map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

#map {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    border: 1px solid #f1f1f1;
}

#locations {
    width: 50%;
    background-color: white;
}

.location-item {
    cursor: pointer;
}

.location-image {
    width: 100%;
    height: 100px;
    border-radius: 10px;
}

#location-list {
    list-style: none;
    padding: 0;
}

#location-list li {
    cursor: pointer;
    border-radius: 10px;
    margin: 15px;
    background-color: white;
    transform: scale(1.0);
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#location-list li:hover {
    transform: scale(1.02);
    transition: transform 0.5s;
}

#location-list h6 {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0 0 10px;
}

.location-infos {
    padding: 10px;
}

.location-infos p {
    padding: 5px;
}

#location-list details {
    background-color:#5E7B51;
    border-radius: 0 0 10px 10px;
    color: white;
}

#location-list details summary {
    padding: 10px;
    list-style-type: none;
    background-color:#5E7B51;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    font-size: 18px;
}

#location-list details{
    display: flex;
}

.location-parcelles-reservation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-parcelles-reservation a{
    margin: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #5E7B51;
}

#location-list details p{
    padding: 10px;
}

.location-image {
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.location-adresse{
    color: #5E7B51;
    padding: 5px 10px;
}

/*----------------------------------------MEDIA QUERIES------------------------------------------*/

@media (min-width: 768px) {
    #map-container {
        flex-direction: row;
    }

    #map {
        width: 70%;
        height: 500px;
    }

    #locations {
        width: 30%;
        height: 500px;
        overflow-y: auto;
    }

    header nav ul {
        align-items: center;
    }
}

/*----------------------------------------CONNEXION------------------------------------------*/

.connexion-inscription {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 100px auto;
    margin-bottom: 50px;
    width: 80%;
    display: flex;
}

.connexion-inscription-content{
    padding: 50px;
    width: 100%;
}

.inscription-image{
    width: 0;
    background: url("../img/inscription.webp");
    background-size: cover;
}

.connexion-inscription h1 {
    margin-top: 0;
    margin-bottom: 50px;
}

.connexion-inscription form {
    display: flex;
    flex-direction: column;
}

.connexion-inscription form > div {
    margin-bottom: 15px;
}

.connexion-inscription label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

.connexion-inscription input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.connexion-inscription button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5E7B51;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.connexion-inscription button:hover {
    background-color: #6e8e60;
}

.lien-connexion-inscription {
    color: gray;
    padding: 20px;
    text-align: center;
}

.lien-connexion-inscription a {
    color: gray;
}


/*-----------------------------------------PROFIL-----------------------------------------------*/

.profile-admin-section {
    padding: 50px;
    overflow-y: scroll;
}

/* Profile Container */
.profile-container {
    display: flex;
    margin: 50px 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Profile Navigation */
#profile-nav {
    width: 250px;
    padding: 25px;
    background-color: #f9f9f9;
    border-right: 1px solid #e0e0e0;
    overflow-y: auto;
}

.nav-button {
    display: block;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 12px;
    text-align: left;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #5E7B51;
    color: #fff;
}

/* Profile Content */
#profile-content {
    flex: 1;
    padding: 25px;
    background-color: #fff;
    overflow-x: scroll;
    border-radius: 0 10px 10px 0;
}

/* Profile Sections */
.profile-section {
    display: none;
}

.profile-section.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.profile-info {
    display: flex;
    margin: 30px 0;
    align-items: center;
}

.profile-text {
    margin-left: 25px;
}

.profile-text p {
    margin: 12px 0;
}

.profile-text p span {
    font-weight: 600;
}

.profile-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}

.profile-table th, .profile-table td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
}

.profile-table th {
    background-color: #f9f9f9;
    font-weight: 600;
}

.profile-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
}

.profile-table th, .profile-table td {
    border: 1px solid #e0e0e0;
    padding: 12px 15px;
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
}

.profile-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.profile-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.profile-table tbody tr:hover {
    background-color: #f2f2f2;
}

.profile-table td {
    vertical-align: middle;
}

.profile-table-responsive {
    overflow-x: auto;
}

.jardin-photo, .profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
}

.profil-links {
    display: flex;
    gap: 15px;
}

.profile-action-link {
    padding: 12px 20px;
    background-color: #5E7B51;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.profile-action-link:hover {
    background-color: #6e8e60;
}

/* Alerts */
.alert {
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }

    #profile-nav {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ddd;
        overflow-x: auto;
    }

    .nav-button {
        margin-right: 10px;
        margin-bottom: 0;
    }

    #profile-content {
        padding: 20px;
    }
}


/*----------------------------------------MODIFICATION PROFIL------------------------------------------*/

.profile-edit-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 30px;
}

.profile-photo-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.profile-edit-container .form-group {
    margin-bottom: 15px;
}

.profile-edit-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.profile-edit-container input[type="text"], .profile-edit-container input[type="email"], .profile-edit-container input[type="file"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-link {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    color: #5E7B51;
}

.password-link:hover {
    text-decoration: underline;
}

.form-actions {
    display: flex;
}

.btn-submit,
.btn-back {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    color: #fff;
}

.btn-submit {
    background-color: #5E7B51;
    transition: background-color 0.3s;
    font-size: 16px;
}

.btn-submit:hover {
    background-color: #6e8e60;
}

.btn-back {
    background-color: #98907d;
    transition: background-color 0.3s;
}

.btn-back:hover {
    background-color: #a9a396;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .profile-edit-container {
        width: 90%;
        padding: 15px;
    }
}

table th, table td{
    border: solid black 1px;
}

/*----------------------------------------ADMIN-------------------------------------------------*/

.container-dashboard {
    min-height: 100vh;
    max-width: 1200px;
    width: 80%;
    margin: 100px auto;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    overflow-x: scroll;
}

.grid-dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-dashboard a {
    text-decoration: none;
    box-shadow: 0 0 2px rgba(0,0,0,.4);
    color: #000;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    transition: ease-in-out .2s;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100px;
    justify-content: center;
}

.grid-dashboard a div {
    margin-bottom: 1rem;
}

.grid-dashboard a span {
    font-size: 2rem;
    font-weight: bold;
}

.grid-dashboard a p {
    font-size: 1rem;
}

.grid-dashboard a:hover {
    background-color: #e5e5e5;
}

.block-tempParcelles,  .block-tempJardins, .block-tempUsers{
    margin-top: 30px;
    width: 100%;
    max-width: 1200px;
}

.block-tempParcelles a,  .block-tempJardins a, .block-tempUsers a {
    color: #5E7B51;
    text-decoration: none;
}

.block-tempParcelles svg,  .block-tempJardins svg, .block-tempUsers svg {
    width: 30px;   
}

.block-tempParcelles table,  .block-tempJardins table, .block-tempUsers table {
    width: 100%;
    border-collapse: collapse;
}

.block-tempParcelles table th,  .block-tempJardins table th, .block-tempUsers table th {
    background-color: #f5f5f5;
}

.block-tempParcelles table th, .block-tempParcelles table td, .block-tempJardins table th, .block-tempJardins table td, .block-tempUsers table th, .block-tempUsers table td {
    padding: 10px;
    border: 1px solid #e5e5e5;
    text-align: center;
}

.badge-table {
font-family: 'Inter',sans-serif;
border-collapse: collapse;
text-align: center;
padding-top: .125rem;
padding-bottom: .125rem;
padding-left: .625rem;
padding-right: .625rem;
border-radius: .25rem;
font-size: 12px;
line-height: 1rem;
font-weight: 500;
}

.attente {
    color: #92400E;
    background-color: #FEF3C7;
}

.libre {
    color: #0F5132;
    background-color: #D1E7DD;
}

.reserve {
    color: #C53030;
    background-color: #FED7D7;
}

/*----------------------------------------PIED DE PAGE------------------------------------------*/

footer{
    margin-top: 50px;
    background-color: #c1b5a2;
}

footer hr{
background-color: white;
    width: 100px;
}

footer svg {
    margin: 10px;
}

#footer-colonne {
    display: block;
    color: white;
}

#footer-colonne > * {
    padding: 20px;
    align-items: center;
}

#footer-colonne li {
    margin: 10px;
}

#footer-reseaux-sociaux {
    display: block;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

#footer-reseaux-sociaux ul li {
    display: inline-block;
}

#footer-mentions-legales {
    text-align: center;
    padding: 10px 20px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

/*----------------------------------------MEDIA QUERIES------------------------------------------*/

@media (min-width: 768px) {

    #footer-colonne {
        display: flex;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    #menu-items {
        display: flex !important ;
        align-items: center;
    }

    #lien-pages, #lien-inscription {
        display: flex;
        margin: 0;
    }

    #lien-pages li, #lien-inscription li {
        margin: 0 10px;
    }

    #valeur {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .valeur-fiche {
        margin: 0;
        width: 25%;
    }

    .valeur-fiche img{
        width: 150px;
    }

    #galerie {
        grid-template-columns: 1fr 1fr;
    }

    #galerie {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }

    .galerie-item {
        position: relative;
        overflow: hidden;
    }

    .galerie-item img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
    }

    .large {
        grid-column: span 2;
    }

    .small {
        grid-column: span 1;
    }

    #footer-reseaux-sociaux{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    #a-propos-container{
        margin: 50px;
        padding: 50px;
    }

}


/*----------------------------------------SECTION CONTACT------------------------------------------*/

#contact {
    padding: 0px 20px;
}

#contact .section-header {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #5E7B51;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5E7B51;
    border-radius: 10px;
    height: 750px;
    width: 80%;
    margin: auto;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group{
    display: flex;
    justify-content: space-between;
}

.form-group input{
    width: 49%;
}

#contact-form input, #contact-form textarea {
    margin-bottom: 10px;
}

#contact-form textarea {
    resize: none;
}

#contact-form button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #5E7B51;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
    background-color: #6e8e60;
}

#contact-form .alt-send-button {
    display: flex;
    align-items: center;
}

.direct-contact-container {
    text-align: center;
}

.contact-list {
    list-style: none;
    padding: 30px;
    margin: 0;
    height: 100%;
}

.contact-list .list-item {
    margin: 40px 0;
    display: flex;
}

.contact-list .contact-text {
    font-size: 18px;
    color: white;
}

.contact-list .contact-text a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-list .list-item i {
    margin-right: 10px;
    color: white;
}

@media (min-width: 768px) {
    .contact-wrapper {
        flex-direction: row;
        justify-content: space-between;
        height: 400px;
        padding-right: 20px;
    }

    #contact-form, .direct-contact-container {
        flex: 1;
    }

    .direct-contact-container {
        margin-left: 40px;
        text-align: left;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #hero-image p {
        width: 55%;
    }

    #hero-image {
        padding-left: 100px;
    }

    .inscription-image{
        width: 50%;
    }

    .connexion-inscription-content{
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    #links-header {
        display: none;
    }

    #links-header-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #links-header-mobile a {
        color: gray;
    }
    #links-header {
        display: none;
    }

    #links-header-mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #mobile-menu-btn {
        display: block;
        margin: 10px;
    }

    #mobile-menu {
        position: absolute;
        top: 70px;
        height: auto;
        background-color: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 90;
    }

    #mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    #mobile-menu li {
        margin-bottom: 10px;
    }

    #mobile-menu a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
    }
}


/*---------------------------------------BOUTON BACK TO TOP--------------------------------------*/

#remonter {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.button {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    margin: 10px;
    z-index: 5;
}

/*---------------------------------------JARDINS--------------------------------------*/
.container-jardins {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    padding: 20px;
    max-width: 1100px;
    min-height: 100vh;
}

#jardin-details {
    padding: 20px;
}

#jardin-info {
    margin-top: 20px;
}

.infos-jardin-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: start;
    gap: 50px;
}

.infos-jardin-flex img {
    border-radius: 10px;
    width: 500px;
}

.content-infojardins {
    width: 100%;
}

.content-infojardins h3 {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.content-infojardins p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.block-reservations {
    margin-top: 20px;
}

.flex-items-reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.flex-items-info {
    display: flex;
    gap: 20px;
}

.badge-table {
    font-family: 'Inter', sans-serif;
    border-collapse: collapse;
    text-align: center;
    padding-top: .125rem;
    padding-bottom: .125rem;
    padding-left: .625rem;
    padding-right: .625rem;
    border-radius: .25rem;
    font-size: 12px;
    line-height: 1rem;
    font-weight: 500;
}

.attente {
    color: #92400E;
    background-color: #FEF3C7;
}

.libre {
    color: #0F5132;
    background-color: #D1E7DD;
}

.reserve {
    color: #C53030;
    background-color: #FED7D7;
}

.infos-parcelle-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#parcelles-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reservation-parcelle {
    padding: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.reservation-parcelle a {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #5E7B51;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.location-description {
    font-size: 1rem;
    margin-bottom: 20px;
}

.content-infojardins h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/*---------------------------------------CONFIRM RESERVATIOH--------------------------------------*/

.container-reservation {
    max-width: 800px;
    margin: 100px auto;
    min-height: 50vh;
}

.block-info-reservation {
    padding: 20px;
}

.block-info-reservation p {
    margin-bottom: 20px;
}

.block-info-reservation ul {
    list-style: none;
    padding: 0;
}

.block-info-reservation li {
    margin-bottom: 10px;
}

.block-info-reservation form {
    max-width: 600px;
    margin: 0 auto;
}

.block-info-reservation label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

.block-info-reservation input[type="date"], input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.block-info-reservation input[type="submit"] {
    background-color: #5E7B51;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.block-info-reservation input[type="submit"]:hover {
    background-color: #6e8e60;
}

.block-info-reservation input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.block-info-reservation a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
}

#title-recap-reservation h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: left;
}

#title-recap-reservation {
    max-width: 600px;
    margin: 0 auto;
}

.block-info-reservation h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.block-recap-infos {
    max-width: 600px;
    margin: 50px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.block-recap-infos div {
    padding: 0 20px;
}

/*---------------------------------------RESERVATION OK--------------------------------------*/

.container-ok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 72vh;
}

.container-ok h1 {
    color: #5E7B51;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 20px;
}

.container-ok p {
    color: #5E7B51;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.container-ok div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-ok a {
    background-color: #5E7B51;
    color: white;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.container-ok a:hover {
    background-color: #6e8e60;
    transition: .2s ease-in-out;
}

.block-ok span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.block-ok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}

.container-ok strong {
    font-weight: bold;
}

/*---------------------------------------MODAL--------------------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}

.modal-header {
    padding: 5px 16px;
    color: white;
}

.modal-body {
    padding: 20px 16px;
    text-align: center;
}

.modal-footer {
    max-width: 400px;
    margin: 0 auto;
    padding: 2px 16px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.modal h5 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #5E7B51;
}

.close {
    color: white;
    font-size: 28px;
    position: absolute;
    right: 20px;
    top: 100px;
    background: none;
    border: none;
    width: 50px;
}

.hide {
    display: none;
}

.show {
    display: block;
}


.title-form{
    margin-top: 70px;
}